# gradle

.gradle/
.fabric/
build/
out/
classes/
**/.fabric/
**/.gradle/
/.fabric/
/.gradle/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
